<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login | DanyBot</title>
<link rel="stylesheet" type="text/css" href="../css/paper-white/common.css"></link>
<link rel="stylesheet" type="text/css" href="../css/paper-white/component.css"></link>
<link rel="stylesheet" type="text/css" href="../css/error.css">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
	<div class="body-wrapper">
		<div class="center-content">
			<div class="error-content">
				<div class="cover">
					<h1>
						Webservice currently unavailable! <small th:if="${errorcode}">Error
							: <small th:text="${errorcode}"></small>
						</small>
					</h1>
					<p class="lead">
						We&#39;ve got some trouble with our backend upstream cluster.<br />Our
						micro service has been dispatched to bring it back online. <br />
						Thank you for your patience.
					</p>
				</div>
				<footer>
					<p>
						Technical Contact: <a href="mailto:x@example.com">d.balaji.mc@gmail.com</a>
					</p>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>