@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	background-color: #FEFEFE;
}

input {
	background-color: #FEFEFE;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}