@charset "ISO-8859-1";

body {
	color: #37474F;
	font-family: 'Roboto';
}

div .text-field-lable {
	display: block;
	margin: 0 0 3px 0;
	font-size: 0.9em;
}

div.component-wrapper {
	padding: 8px;
}

input.text-field-input {
	height: 32px;
	width: 100%;
	padding: 5px;
	color: #37474F;
	box-sizing: border-box;
	border: 2px solid #607D8B;
	font-size: 1em;
	font-family: 'Roboto';
}

button.button-field-input {
	height: 32px;
	width: 100%;
	box-sizing: border-box;
	background-color: #607D8B;
	border: none;
	font-size: 1em;
	color: #FEFEFE;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

button.button-field-input:hover {
	opacity: 0.9;
	cursor: pointer;
}

button.button-field-input:active {
	opacity: 1;
	cursor: pointer;
}

a, u {
    text-decoration: none !important;
    font-weight: 700;
    color: #37474F;
}