@charset "ISO-8859-1";

body, div.body-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}

.body-wrapper {
	display: table;
}

.center-content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 300px;
}

.error-content {
	display: inline-block;
}
