@charset "ISO-8859-1";

body, div.body-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}

.body-wrapper {
	display: table;
}

.center-content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 300px;
}

.login-content {
	display: inline-block;
	border: 2px solid #607D8B;
	text-align: left;
}

.main-content {
	padding: 8px;
}

label.log-label {
	margin: 0;
	font-size: 1.6em;
}

.sign-up {
	border-top: 2px solid #607D8B;
	padding: 16px;
}

label.sign-up-label {
	font-size: 0.8em;
}